<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form method="POST" action=""> 
        {% csrf_token %}
        <label>Teacher name</label>
        <input type="text" name="tname"><br>
        <label>Teacher age</label>
        <input type="number" name="tage"><br>
        
        <button type="submit">Submit</button>
        {{msg}}
    </form>
    <a href="{% url 'app1:viewteacher'%}">view teachers</a>
</body>
</html>